.arrow-viewer-base {
  .arrow-viewer {
    display: flex;
    flex-direction: column;
    outline: none;
    /* This is needed so that all font sizing of children done in ems is
     * relative to this base size */
    font-size: var(--jp-ui-font-size1);
  }

  .arrow-grid-viewer {
    flex: 1 1 auto;
  }

  .arrow-viewer-toolbar {
    width: 99%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    border: none;
    min-height: 24px;
    background: var(--jp-toolbar-background);
    z-index: 1;

    .toolbar-select {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
    }

    .toolbar-label {
      color: var(--jp-ui-font-color1);
      font-size: var(--jp-ui-font-size1);
      padding-left: 8px;
      padding-right: 8px;

      .cols {
        padding-right: 0px;
      }
    }

    .toolbar-dropdown {
      flex: 0 0 auto;
      vertical-align: middle;
      border-radius: 0;
      outline: none;
      height: 20px;
      margin-top: 2px;
      margin-bottom: 2px;

      select.jp-mod-styled {
        color: var(--jp-ui-font-color1);
        background: var(--jp-layout-color1);
        font-size: var(--jp-ui-font-size1);
        height: 20px;
        padding-right: 20px;
      }
    }

    .toolbar-group-cols-rows {
      margin-left: auto;
    }
  }
}
